MazikCareService.AXRepository/Service References/AXServices/HMMazikCareGroup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://usnconeboxax1aos.cloud.onebox.dynamics.com/soap/services/HMMazikCareGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:import schemaLocation="https://usnconeboxax1aos.cloud.onebox.dynamics.com/soap/services/HMMazikCareGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://usnconeboxax1aos.cloud.onebox.dynamics.com/soap/services/HMMazikCareGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="createCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_caseType" type="q1:HMCaseType" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_crmRefRecId" type="q2:guid" />
        <xs:element minOccurs="0" name="_organizationalUnitRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_patientRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCaseTrans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_apptRecId" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_caseGuid" type="q3:guid" />
        <xs:element minOccurs="0" name="_itemid" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_orderId" type="q4:guid" />
        <xs:element minOccurs="0" name="_quantity" type="xs:decimal" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_serviceStatus" type="q5:HMServiceStatus" />
        <xs:element minOccurs="0" name="_specialityRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_treatmentLocation" type="xs:long" />
        <xs:element minOccurs="0" name="_unit" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_urgency" type="q6:HMUrgency" />
        <xs:element minOccurs="0" name="notesToPharmacy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientInstructionsArabic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientInstructionsEng" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCaseTransResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseTransDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_recId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCaseTransDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q7:HMCaseTransContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaseStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseGUID" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_caseStatus" type="q8:HMCaseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaseStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaseTransStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_apptRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_batchId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_caseId" type="q9:guid" />
        <xs:element minOccurs="0" name="_caseTransRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_resourceRecId" type="xs:long" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_serviceStatus" type="q10:HMServiceStatus" />
        <xs:element minOccurs="0" name="createCharge" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCaseTransStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReportUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_hmcaseTransRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_reportPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_reportUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateReportUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custTable" type="xs:long" />
        <xs:element minOccurs="0" name="hmClaimTemplate" type="xs:long" />
        <xs:element minOccurs="0" name="hmFinancialClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCaseInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_patientInsurance" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCaseInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPatientInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_insuranceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_patientREcId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPatientInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_contract" nillable="true" type="q11:HMPatientDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientBasicDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_patientRecId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientBasicDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q12:HMPatientInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivityStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_status" type="q13:HMActivityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivityStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q14:ArrayOfHMDropDownContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q15:ArrayOfHMDropDownContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q16:ArrayOfHMDropDownContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNationalIdType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNationalIdTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q17:ArrayOfHMDropDownContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSearchPatientFilter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSearchPatientFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q18:ArrayOfHMDropDownContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkItemInStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clinicRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkItemInStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="result" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsBase64">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docuRefRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsBase64Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPatientSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_patientRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_sms" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPatientSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendResourceSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_resourceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_sms" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendResourceSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_direction" type="q20:HMHL7MessageDirection" />
        <xs:element minOccurs="0" name="_messageControlId" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_messageType" type="q21:HMHL7MessageType" />
        <xs:element minOccurs="0" name="_refId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ackCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_messageControlId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_textMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientVisit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_apptRecId" type="xs:long" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_caseGuid" type="q22:guid" />
        <xs:element minOccurs="0" name="_patientRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientVisitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q23:ArrayOfHMPatientVisitContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVisitReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_apptRecId" type="xs:long" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_caseGuid" type="q24:guid" />
        <xs:element minOccurs="0" name="_visitReason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVisitReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClinicDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_recId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClinicDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q25:HMClinicDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClinicsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_locationType" type="q26:HMFileLocationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClinicsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q27:ArrayOfHMClinicDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceClinicsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_hmResourceMasterRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceClinicsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q28:ArrayOfHMClinicDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_recId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q29:HMResourceDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_specialityRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q30:ArrayOfHMResourceDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceSpecialitiesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_hmResourceMasterRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResourceSpecialitiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q31:ArrayOfHMSpecialityDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_appointmentRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q32:HMAppointmentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentsbyDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="_startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppointmentsbyDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q33:ArrayOfHMAppointmentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOpenAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOpenAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q34:ArrayOfHMAppointmentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTodaysAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTodaysAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q35:ArrayOfHMAppointmentContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUniqueValuesForField">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_clinicRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_clinicType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_drResourceMasterRecid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_fielId" type="xs:int" />
        <xs:element minOccurs="0" name="_userType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUniqueValuesForFieldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAppointmentProgressive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_appointmentRecId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAppointmentProgressiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAppointmentNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_appointmentRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_updatedNotes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAppointmentNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDispositionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_appointmentRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_dispositionComments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_dispositionFollowUp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDispositionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>