MazikCareService.BiztalkRepository/Service References/RISADTA40Service/RISADTA40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="https://Birch.HL7.Schemas.Api.MessageControl" xmlns:ns2="https://Birch.HL7.Schemas.Api.Case" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="https://BTAHL7Schemas.Api.Patient" xmlns="http://BTAHL7Schemas.Api.GetPatient" xmlns:ns3="https://Birch.HL7.Schemas.Api.MergePatient" xmlns:ns1="https://Birch.HL7.Schemas.Api.Appointment" targetNamespace="http://BTAHL7Schemas.Api.GetPatient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo />
  </xs:annotation>
  <xs:element name="GetPatient">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PatientId" type="xs:string" />
        <xs:element name="AppointmentRecId" type="xs:string" />
        <xs:element name="CaseId" type="xs:string" />
        <xs:element name="MergePatientId" type="xs:string" />
        <xs:element name="MessageControlId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>